<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link href="../css/global.css" rel="stylesheet" type="text/css" />
    <title>GiGA마트</title>
</head>

<body>
	<div id="wrap_chVolume" class="bg_alpha">
						<div class="pop type_a">
							<ul>
								<li>옵션변경</li>
								<li>
									<select name="select" class="amt_select mg_t10 mg_b10">
											<option>해동갈치 1KG</option>
											<option>해동갈치 1KG</option>
											<option>해동갈치 1KG</option>
											<option>해동갈치 1KG</option>
											<option>해동갈치 1KG</option>
									</select>
								</li>
								<li>수량변경</li>
								<li class="pr_num mg_t10">
									<span class="pr_num_minus"> - </span><span class="pr_num_num"> 10 </span><span class="pr_num_plus"> + </span>
								</li>
								<li class="pop_btn">
									<span class="green">확인</span>
									<span class="gray">취소</span>
								</li>
							</ul>
						</div>
	</div>
</body>

</html>