<div id="brand">
	<h1><img src="../images/logo_gigamart.png" /></h1>
	<h2>쇼퍼가 하나로마트에서 직접 골라드립니다</h2>
	<h3>
		<span><img src="../images/s_bg_left.png" /></span><span class="sbg">당일배송 <img src="../images/s_icon_car.png" /></span><span><img src="../images/s_bg_right.png" /></span>
	</h3>
</div>

<div id="content">
						
						
	<div class="content_left">
		
		<div class="top_icon">
			<ul>
				<li><a href="#"><img src="../images/m_mymart.png" /></a></li>
				<li><a href="#"><img src="../images/m_voice.png" /></a></li>
				<li><a href="#"><img src="../images/m_orderhistory.png" /></a></li>
			</ul>
		</div>
		<div class="category">
			<ul>
				<li><a href="#"><img src="../images/cate_bag.png" /> <span>쇼퍼's bag</span></a></li>
				<li><a href="#"><img src="../images/cate_fruit.png" /> <span>과일</span></a></li>
				<li><a href="#"><img src="../images/cate_vegetable.png" /> <span>채소</span></a></li>
				<li><a href="#"><img src="../images/cate_milk.png" /> <span>유제품/두부/계란</span></a></li>
				<li><a href="#"><img src="../images/cate_meat.png" /> <span>정육</span></a></li>
				<li><a href="#"><img src="../images/cate_fish.png" /> <span>수산물/건어물</span></a></li>
				<li><a href="#"><img src="../images/cate_rice.png" /> <span>쌀/잡곡/견과</span></a></li>									
				<li><a href="#"><img src="../images/cate_health.png" /> <span>건강/친환경/유기농</span></a></li>									
				<li><a href="#"><img src="../images/cate_processing.png" /> <span>가공식품</span></a></li>									
			</ul>
		</div>

	</div>
	<!-- content_left END -->




	<!--content_right START -->
	<div class="content_right">
		<div class="easycart">
			<div class="ec_tit">간편 장바구니<span>장바구니 가기</span><!--span class="focus">장바구니 가기</span--></div>
			<ul class="ec_calcu">
				<li class="ecc_pa">상품금액<span>0원</span></li>
				<li class="ecc_plus">+</li>
				<li class="ecc_sc">쇼퍼수수료<span>0원</span></li>
				<li class="ecc_eq">=</li>
				<li class="ecc_pm">결제예상금액<span>0원</span></li>
				<li class="ecc_payments">결제</li><!--li class="ecc_payments_focus">결제</li-->
			</ul>
			<div class="ec_list">
				<ul>
					<!-- <li class="scl_row_focus">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td class="sr_img"><img src="../images/sample_03.jpg" width="78px" height="78px" /></td>
								<td class="sr_txt">[아침마루] 바로 먹는 사과5-6입 / 봉</td>
								<td class="sr_qty">10</td>
								<td class="sr_price">9,600원</td>
								<td class="sr_ok"><img src="../images/icon_ok_b.png" /></td>
							</tr>
						</table>
					</li>
					<li class="scl_row">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td class="sr_img"><img src="../images/sample_03.jpg" width="78px" height="78px" /></td>
								<td class="sr_txt">[아침마루] 바로 먹는 사과5-6입 / 봉</td>
								<td class="sr_qty">10</td>
								<td class="sr_price">9,600원</td>
								<td class="sr_ok"></td>
							</tr>
						</table>
					</li>
					<li class="scl_row">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td class="sr_img"><img src="../images/sample_03.jpg" width="78px" height="78px" /></td>
								<td class="sr_txt">[아침마루] 바로 먹는 사과5-6입 / 봉</td>
								<td class="sr_qty">10</td>
								<td class="sr_price">9,600원</td>
								<td class="sr_ok"></td>
							</tr>
						</table>
					</li>
					<li class="scl_row">
						<table width="100%" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td class="sr_img"><img src="../images/sample_03.jpg" width="78px" height="78px" /></td>
								<td class="sr_txt">[아침마루] 바로 먹는 사과5-6입 / 봉</td>
								<td class="sr_qty">10</td>
								<td class="sr_price">9,600원</td>
								<td class="sr_ok"></td>
							</tr>
						</table>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
    <!--content_right END-->

</div>
<!--content END-->


<div id="common">
	<ul>
		<li class="cm_cart">
			<span class="cmc_arrow"></span>
			<img src="../images/bottom_cart_icon.png" />
			<span class="cmc">										
				<b>
					<span><img src="../images/bottom_cart_bg_left.png" /></span><span class="cmc_num">0</span><span><img src="../images/bottom_cart_bg_right.png" /></span>
					<span class="cmc_price">0원</span>
				</b>
			</span>									
		</li>
	</ul>
</div>