<div id="wrap">
	<div class="vod">
		<p class="vod_area"><img src="../images/sample_01.jpg" /></p>
		<div class="vod_info">
			<ul>
				<li class="vi_tit">타임세일</li>
				<li class="vi_time">
					<span class="vi_time_txt">남은시간</span>
					<span class="vi_time_minute">24시간</span>
				</li>
				<li class="vi_menu">
					<ul>
						<li class="vim_con">귤림원 비가림 감귤 300g (3-5과)</li>
						<li class="vim_price">1,650원</li>
						<li id="btn_cart" class="btn_cart">장바구니 담기</li>
						<!--li class="btn_cart_focus">장바구니 담기</li-->
						<li id="btn_dtl" class="btn_common">상품정보 보기</li>
						<!--li class="btn_common_focus">상품정보 보기</li-->
						<li id="btn_close" class="btn_common">닫기</li>
						<!--li class="btn_common_focus">닫기</li-->
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>	