<div id="wrap">
	<div class="vod">
		<p class="vod_area" id="p_videoDiv"><!-- <img src="../images/sample_01.jpg" /> --></p>
		<div class="vod_info">
			<ul>
				<li class="vi_tit">기획세일</li>
				<li class="vi_time">
					<span class="vi_time_txt">남은시간</span>
					<span id="vi_time" class="vi_time_minute"></span>
				</li>
				<li class="vi_menu">
					<ul>
						<li class="vim_con"><span name="pd_name"><!-- 귤림원 비가림 감귤 --></span> <span name="pd_standard"><!-- 300g --></span></li>
						<li class="vim_price"><span name="pd_cost"><!-- 1,650원 --></span></li>
						<li id="btn_cart" class="btn_cart">장바구니 담기</li>
						<!--li class="btn_cart_focus">장바구니 담기</li-->
						<li id="btn_dtl" class="btn_common">상품정보 보기</li>
						<!--li class="btn_common_focus">상품정보 보기</li-->
						<li id="btn_close" class="btn_common">닫기</li>
						<!--li class="btn_common_focus">닫기</li-->
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>	

<div id="fv_wrap_cart" class="pop2" style="width:500px; top:80%; left:32%; position:absolute; display:none;">
	<ul>
		<li id="fv_cart_message"></li>
	</ul>
</div>