<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../css/global.css" rel="stylesheet" type="text/css" />
    <title>GiGA마트</title>
</head>

<body>
	<!-- ############################ 장바구니 목록 시작 ############################ -->
	<div id="wrap" class="bg_gray">
		<div id="brand_line">
			<span style="position :absolute; top : 38px; display:inline-block; float:left;">
				<h1><img src="../images/logo_gigamart.png" /></h1>
			</span>
			<span style="position :absolute; top : 38px; left : 254px;display:inline-block; float:left;">
				<h2>장바구니</h2>
			</span>
			<h3 class="cart_pr">
				<ul>
					<li id="cart_part1" class="sel"><span class="pr_txt_sel">1</span>장바구니 > </li>
					<li id="cart_part2"><span class="pr_txt">2</span>쇼퍼선택 > </li>
					<li id="cart_part3"><span class="pr_txt">3</span>주문/결제 > </li>
					<li id="cart_part4"><span class="pr_txt">4</span>주문완료</li>
				</ul>
			</h3>
		</div>

		<div id="content" style="margin-top:-40px;">

			<!-- 0 : 장바구니 -->
			<div id="orderScreen0" class="cartArea" style="display:block;">
				<a href="#" id="cart_arrow_top" class="arrow_top focus" style="display:none;"></a>
				<a href="#" id="cart_arrow_bottom" class="arrow_bottom focus" style="display:none;"></a>
				<div class="ctc_th">
					<ul>
						<li class="sr_chebox" id="li_cart_all_chkbox"><img src="../images/checkbox.png" /><!--img src="../images/checkbox.png" /--></li>
						<li class="sr_proInfo">상품정보</li>
						<li class="sr_price">판매가</li>
						<li class="sr_discount">할인</li>
						<li class="sr_amount">수량</li>
						<li class="sr_delivery">추가 배송비</li>
						<li class="sr_store">스토어</li>
						<li class="sr_order">주문금액</li>
					</ul>
				</div>
				<div class="ct_con">
					<ul id="ul_cart_list">
						<!--포커스시 bdr_green class가 사용-->
						<!-- <li class="ctc_row focus">
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td class="ctc_chebox"><img src="../images/checkbox.png" />--img src="../images/checkbox.png" /--</td>
									<td class="ctc_img"><img src="../images/sample_03.jpg" width="100px" height="100px" /></td>
									<td class="ctc_txt bdr_gray">[아침마루] 바로 먹는 사과5-6입 / 봉</td>
									<td class="ctc_price bdr_gray">8,800원</td>
									<td class="ctc_discount bdr_gray">300원</td>
									<td class="ctc_amount bdr_gray">1</td>
									<td class="ctc_delivery bdr_gray">1,000원</td>
									<td class="ctc_store bdr_gray">이마트 용산</td>
									<td class="ctc_order">32,000원</td>
									<td class="ctc_ok"></td>
								</tr>
							</table>
						</li>
						-->
					</ul>
				</div>
				<div class="ctc_btn">
					<span id="order_cart_delete" class="btn_gray">선택상품 삭제</span>
					<!-- <span id="order_cart_all_delete" class="btn_gray">전체 삭제</span> -->
					<span id="order_cart_favorite" class="btn_gray btn_r">선택상품 찜하기</span>
				</div>
			</div>
			<!-- cartArea 끝 -->

			<!-- 1 : 쇼퍼 선택 -->
			<div id="orderScreen1" class="sbl_left" style="display:none;">
				<!-- <a href="#" class="arrow_top"></a>
				<a href="#" class="arrow_bottom"></a> -->
				<div class="sbl_con">
					<ul>
						<li class="sblc_list">
							<ul>
								<li id="display_select_shopper" class="sblc_tit">쇼퍼를 선택해주세요</li>
								<li class="sblc_shopperList">
									<ul id="ul_shopper_list">
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- 쇼퍼 선택 끝 -->

			<!-- 2 : 주문/결제 -->
			<div id="orderScreen2" class="sbl_left" style="display:none;">
				<div class="sbl_con">
					<div id="order_payment">
						<div class="payments">
							<ul>
								<li name="payment_left_menu">계좌안내</li>
								<li name="payment_left_menu">신용카드</li>
								<li name="payment_left_menu">Kt폰 통합결제</li>
								<li name="payment_left_menu">실시간 계좌이체</li>
							</ul>
						</div>
						<div class="accounts">
							<ul>
								<!-- <li class="amt_tit">입금하실 계좌번호를 선택해주세요.</li>
								<li>
									<select name="select" class="amt_select">
										<option>신한은행</option>
										<option>신한은행</option>
										<option>신한은행</option>
										<option>신한은행</option>
										<option>신한은행</option>
									</select>
								</li> -->
								<li>
									<span class="amt_st">입금계좌정보</span>
									<span class="amt_bt">기가마트</span>
								</li>
								<li>
									<span class="amt_st">예금주</span>
									<span class="amt_bt">신한은행  [ 100-0000-000000 ] </span>
								</li>
								<li>
									<span class="amt_st">입금자명</span>
									<span class="amt_bt">홍길동</span>
								</li>
							</ul>
							<p class="amt_date">2015-08-08 까지 입금하셔야 정상주문이 완료됩니다. <br> (미입금 시 자동 주문취소 됩니다.)</p>
							<!-- <p class="amt_check">
								<img src="../images/checkbox.png" />!--img src="../images/checkbox_sel.png" /--
								주문완료 후 휴대폰으로 계좌번호를 받으시겠습니까?
							</p> -->
						</div>
					</div>
				</div>
			</div>
			<!-- 주문/결제 끝 -->

			<!-- 3 : 주문 완료 -->
			<div id="orderScreen3" class="sbl_left" style="display:none;">
				<div class="sbl_con">
					<table width="100%" cellpadding="0" cellspacing="0" border="0" class="orderComplete">
						<tr>
							<th>주문번호</th>
							<td id="complete_1"></td>
						</tr>
						<tr>
							<th>주문정보</th>
							<td id="complete_2"></td>
						</tr>
						<tr>
							<th>배송 받으실 주소</th>
							<td id="complete_3"></td>
						</tr>
						<tr>
							<th>연락처</th>
							<td id="complete_4"></td>
						</tr>
						<tr>
							<th>쇼퍼정보</th>
							<td id="complete_5"></td>
						</tr>
						<tr>
							<th>쇼퍼연락처</th>
							<td id="complete_6"></td>
						</tr>
					</table>
				</div>
				<p class="oc_txt">주문이 정상적으로 완료되었습니다.</p>
			</div>
			<!-- 주문 완료 끝 -->


			<!-- 우측 영역 -->
			<!-- 장바구니, 쇼퍼선택, 주문/결제 -->
			<div id="orderScreen_right0" class="sbl_right">
				<div class="sbr_con">
					<div id="sbr_address" class="sbr_address">
						
					</div>
					<div class="price_list">
						<ul>
							<li class="pl_num">장바구니 상품 총 개수 <span></span></li>
							<li class="pl_txt">
								<span class="pl_txt_left">총 판매금액</span>
								<span class="pl_txt_right" id="order_cost"></span>
							</li>
							<!-- <li class="pl_txt">
								<span class="pl_txt_left">총 할인금액</span>
								<span class="pl_txt_right" id="order_discount_cost"></span>
							</li>
							<li class="pl_txt">
								<span class="pl_txt_left">배송비</span>
								<span class="pl_txt_right" id="order_delivery_cost"></span>
							</li> -->
							<li class="pl_txt">
								<span class="pl_txt_left">쇼퍼비</span>
								<span class="pl_txt_right" id="order_shopper_cost"></span>
							</li>
							<li class="pl_price">
								총결제예상금액
								<span id="order_total_cost"></span>
							</li>
						</ul>
					</div>
					<div class="sbr_btn">
						<ul id="sbr_btn">
							<li class="btn_red" id="order_cart_submit">주문하기</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- sb_right 끝 -->

			<!-- 주문 완료 -->
			<div id="orderScreen_right1" class="sbl_right" style="display:none;">
				<div class="sbr_con">
					<div class="price_list">
						<ul>
							<li class="pl_num">결제정보</li>
							<li class="pl_txt">
								<span class="pl_txt_left">총 판매금액</span>
								<span id="order_cost2" class="pl_txt_right">0원</span>
							</li>
							<!-- <li class="pl_txt">
								<span class="pl_txt_left">총 판매금액</span>
								<span class="pl_txt_right">100,000원</span>
							</li>
							<li class="pl_txt">
								<span class="pl_txt_left">총 판매금액</span>
								<span class="pl_txt_right">100,000원</span>
							</li> -->
							<li class="pl_txt">
								<span class="pl_txt_left">쇼퍼비</span>
								<span id="order_shopper_cost2" class="pl_txt_right">0원</span>
							</li>
							<li class="pl_price">
								총결제예상금액
								<span id="order_total_cost2">0원</span>
							</li>
						</ul>
					</div>
					<div class="payment_info">
						<ul>
							<li>※ 결제계좌안내</li>
							<li id="order_total_cost3">결제금액 : 0원</li>
							<li id="order_account_number">계좌번호 : 신한은행 100-0000-000000</li>
							<li id="order_time_limit">입금기한 : 2015.08.08</li>
						</ul>
					</div>
					<div class="sbr_btn">
						<ul>
							<li id="order_cart_submit2" class="btn_green_nc">주문내역조회</li>
							<li id="order_cart_back2" class="btn_green_nc">메뉴 돌아가기</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--content END-->

		<div id="bottom">
			<ul>
				<li class="b_menu"><img src="../images/bottom_menu_black.png" /></li>
				<li class="b_home"><img src="../images/bottom_home_black.png" /></li>
			</ul>
		</div>
	</div>

	<!-- Common Function -->
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/commons/EventBus.js"></script>
	<script type="text/javascript" src="../js/commons/Timer.js"></script>
	<script type="text/javascript" src="../js/commons/Utils.js"></script>

	<!-- Define Enumeration Classes-->
	<script type="text/javascript" src="../js/commons/enums/ViewMode.js"></script>
	<script type="text/javascript" src="../js/commons/enums/VideoType.js"></script>

	<!-- UI Component Classes -->

	<!-- Category Classes-->
	<script type="text/javascript" src="../js/app/order/Order.js"></script>
	<script type="text/javascript" src="../js/app/order/STBService.js"></script>
	<script type="text/javascript" src="../js/app/order/KeyEventActorProvider.js"></script>

	<!-- extends Library -->
	<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
	<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<!-- ############################ 장바구니 목록 끝 ############################ -->

	<!-- socket.io 이벤트 -->
	<script type="text/javascript">
		/**
		 * 상태 체크
		 **/
		$(document).ready(function() {

			var socket = io.connect("http://14.52.244.91:8080");


			socket.on('start_shopping', function(buyer_id, shopper_id, order_id, status) {
				// TT141002133 STB의 buyer_id : aa
				//if(buyer_id == buyerID) {
				if(buyer_id == "aa") {

					SHOPPER_STATUS = status;

					if(status == 2) {
						// 쇼퍼 구매 시작
						//$('#common_shopper_message').html("쇼퍼가 쇼핑을 시작하였습니다.");
						//$('#common_shopper_status').html("쇼퍼가 쇼핑중");
						//$('#common_shopper_img').attr("src", "../images/icon_shopper2.png").css("margin-top", "-5px");
						viewShopperMsg();

					} 
					if(status == 3) {
						// 쇼퍼 구매 완료
						//$('#common_shopper_message').html("현재 리얼타임 방송이 없습니다.");
						//$('#common_shopper_status').html("당일배송");
						//$('#common_shopper_img').attr("src", "../images/s_icon_car.png").css("margin-top", "-3px");
						viewShopperMsg();
					}
					
				}
				
			});
		});

		// 쇼퍼 메시지 출력 후 5초 후 사라짐
		var viewShopperMsg = function() {
			$('#wrap_shopper_status').show();
			setTimeout($('#wrap_shopper_status').hide(), 5000);
		}

	</script>

	<!-- 기본 토스트 팝업 -->
	<div id="wrap_common" class="pop3" style="width:500px; top:80%; left:32%; position:absolute; display:none;">
		<ul><li id="common_msg"></li></ul>
	</div>

	<!-- 쇼퍼 상태 알림 팝업 -->
	<div id="wrap_shopper_status" class="pop2" style="width:500px; top:80%; left:32%; position:absolute; display:none;">
		<ul><li id="common_shopper_message"></li></ul>
	</div>

	<!-- 로그아웃 확인 팝업 -->
	<div id="pop_logout" class="bg_alpha" style=" position:absolute; display : none;">
		<div class="pop type_b">
			<ul>
				<li class="mg_t30 txt_cnt">로그아웃 하시겠습니까?</li>
				<li class="pop_btn">
					<span class="green" id="btn_logout_submit">확인</span>
					<span class="gray" id="btn_logout_cancel">취소</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- 간편 장바구니 메시지 팝업 -->
	<div id="wrap_cart" class="pop2" style="width:500px; top:80%; left:32%; position:absolute; display:none;">
		<ul>
			<li id="cart_message"></li>
		</ul>
	</div>

	<!-- 배송지 선택하기 -->
	<div id="wrap_addr" class="bg_alpha" style="top:0%; left:0%; position:absolute; display: none;">
		<div class="pop type_e">
			<ul>
				<li class="tit">배송지 선택하기</li>
				<li class="pd_t10" style="margin-bottom: 20px;">배송지 수정,삭제 및 추가는 모바일앱에서 가능합니다.</li>
				<li>
					<div id="addr_list" name="select" class="amt_select" style="padding-top: 16px;">
						<span style="display:inline-block; padding-left:5px;"><img src="../images/arrow_left_over.png"/></span>
						<span id="addr_list_span"></span>
						<span style="display:inline-block; float:right; padding-right:5px;"><img src="../images/arrow_right_over.png"/></span>
					</div>
				</li>
				<li class="pop_btn">
					<span id="btn_addr_submit" class="green">완료</span>
					<span id="btn_addr_cancel" class="gray">취소</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- 선택 삭제 팝업 -->
	<div id="wrap_delete_product" class="bg_alpha" style="top:0%; left:0%; position:absolute; display: none;">
		<div class="pop type_b">
			<ul>
				<li id="delete_cart_msg" class="mg_t50 txt_cnt">선택된 상품을 삭제 하시겠습니까?</li>
				<li class="pop_btn">
					<span id="btn_delete_yn_submit" class="green">확인</span>
					<span id="btn_delete_yn_cancel" class="gray">취소</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- 수량 조절 팝업 -->
	<div id="wrap_chVolume_easyCart" class="bg_alpha" style="display:none; position:absolute; top : 0; left : 0;">
		<div class="pop type_aa" style="position:absolute; top:40%; left:25%;">
			<ul>
				<li>수량변경</li>
				<li class="pr_num mg_t10">
					<span class="pr_num_minus minusPP" name="ppr_num_minusP"> - </span>
					<span class="pr_num_num pp" name="ppr_num_numP"></span>
					<span class="pr_num_plus plusPP" name="ppr_num_plusP"> + </span>
				</li>
				<li class="pop_btn">
					<span class="green" id="btn_volume_ok">확인</span>
					<span class="gray" id="btn_volume_close">취소</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- 배송시간 선택 팝업 -->
	<div id="wrap_delivery_time" class="bg_alpha" style="display:none; position:absolute; top : 0; left : 0;">
		<div class="deliveryTime" style="position:absolute; top:15%; left:6.5%;">
			<div class="dt_tit">
				<li class="dt_head">배송시간을 선택해 주세요.</li>
				<li class="dt_sub">원하시는 배송시간에 장보기 가능한 쇼퍼를 안내 드립니다.</li>
			</div>
			<div class="dt_con">
				<ul>
					<li class="dtc_left">
						<ul>
							<li class="dtcl_first">빠른배송</li>
							<li id="dt_1hour" class="dtcl_second sel">1시간 이내</li>
							<li id="dt_2hour" class="dtcl_third">2시간 이내</li>
						</ul>
					</li>
					<li class="dtc_right">
						<ul>
							<li class="dtcr_first">배송시간 지정<span>리모콘의 숫자키로 시간을 입력해주세요.</span></li>
							<li class="dtcr_second">배송예약은 오전 10시부터 저녁 21시까지 가능합니다.</li>
							<li class="dtcr_third"><span id="dt_hour" class="time"></span><span class="time_txt">시까지 배송해주세요.</span></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="dt_btn">
				<p>선택한 배송시간으로 쇼퍼를 보시겠습니까?</p>
				<span class="pop_btn_green focus" id="btn_dt_ok">완료</span>
				<span class="pop_btn_gray" id="btn_dt_close">취소</span>
			</div>
		</div>
	</div>



</body>

</html>