<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../css/global.css" rel="stylesheet" type="text/css" />
    <title>GiGA마트</title>
</head>

<body>
	<!-- 간편 장바구니 -->
	<!-- <div id="wrap_cart" class="bg_alpha" style="display : none; position : absolute; top : 0;"> -->
		<div id="wrap_cart" class="pop2" style="width:500px; top:80%; left:32%; position:absolute; display:none;">
			<ul>
				<li id="cart_message"></li>
			</ul>
		</div>
	</div>

	<!-- ############################ 장바구니 목록 시작 ############################ -->
	<div id="wrap" class="bg_gray">
		<div id="brand_line">
			<span style="position :absolute; top : 38px; display:inline-block; float:left;">
				<h1><img src="../images/logo_gigamart.png" /></h1>
			</span>
			<span style="position :absolute; top : 38px; left : 254px;display:inline-block; float:left;">
				<h2>장바구니</h2>
			</span>
			<h3 class="cart_pr">
				<ul>
					<li class="sel"><span class="pr_txt_sel">1</span>장바구니 > </li>
					<li><span class="pr_txt">2</span>쇼퍼선택 > </li>
					<li><span class="pr_txt">3</span>주문/결제 > </li>
					<li><span class="pr_txt">4</span>주문완료</li>
				</ul>
			</h3>
		</div>

		<div id="content" style="margin-top:-40px;">
			<div class="cartArea">
				<a href="#" id="cart_arrow_top" class="arrow_top focus" style="display:none;"></a>
				<a href="#" id="cart_arrow_bottom" class="arrow_bottom focus" style="display:none;"></a>
				<div class="ctc_th">
					<ul>
						<li class="sr_chebox" id="li_cart_all_chkbox"><img src="../images/checkbox.png" /><!--img src="../images/checkbox.png" /--></li>
						<li class="sr_proInfo">상품정보</li>
						<li class="sr_price">판매가</li>
						<li class="sr_discount">할인</li>
						<li class="sr_amount">수량</li>
						<li class="sr_delivery">추가 배송비</li>
						<li class="sr_store">스토어</li>
						<li class="sr_order">주문금액</li>
					</ul>
				</div>
				<div class="ct_con">
					<ul id="ul_cart_list">
						<!--포커스시 bdr_green class가 사용-->
						<!-- <li class="ctc_row focus">
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td class="ctc_chebox"><img src="../images/checkbox.png" />--img src="../images/checkbox.png" /--</td>
									<td class="ctc_img"><img src="../images/sample_03.jpg" width="100px" height="100px" /></td>
									<td class="ctc_txt bdr_gray">[아침마루] 바로 먹는 사과5-6입 / 봉</td>
									<td class="ctc_price bdr_gray">8,800원</td>
									<td class="ctc_discount bdr_gray">300원</td>
									<td class="ctc_amount bdr_gray">1</td>
									<td class="ctc_delivery bdr_gray">1,000원</td>
									<td class="ctc_store bdr_gray">이마트 용산</td>
									<td class="ctc_order">32,000원</td>
									<td class="ctc_ok"></td>
								</tr>
							</table>
						</li>
						<li class="ctc_row">
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td class="ctc_chebox"><img src="../images/checkbox.png" />--img src="../images/checkbox.png" /--</td>
									<td class="ctc_img"><img src="../images/sample_03.jpg" width="100px" height="100px" /></td>
									<td class="ctc_txt bdr_gray">[아침마루] 바로 먹는 사과5-6입 / 봉</td>
									<td class="ctc_price bdr_gray">8,800원</td>
									<td class="ctc_discount bdr_gray">300원</td>
									<td class="ctc_amount bdr_gray">1</td>
									<td class="ctc_delivery bdr_gray">1,000원</td>
									<td class="ctc_store bdr_gray">이마트 용산</td>
									<td class="ctc_order">32,000원</td>
									<td class="ctc_ok"></td>
								</tr>
							</table>
						</li> -->
					</ul>
				</div>
				<div class="ctc_btn">
					<span id="order_cart_delete" class="btn_gray">선택상품 삭제</span>
					<!-- <span id="order_cart_all_delete" class="btn_gray">전체 삭제</span> -->
					<span id="order_cart_favorite" class="btn_gray btn_r">선택상품 찜하기</span>
				</div>
			</div>
			<!-- cartArea 끝 -->

			<div class="sbl_right">
				<div class="sbr_con">
					<div class="sbr_address">
						기본 배송지 : 서울시 서초구 태봉로 151 KT연구소
						<span id="order_cart_address">다른 주소 선택</span>
					</div>
					<div class="price_list">
						<ul>
							<li class="pl_num">장바구니 상품 총 개수 <span></span></li>
							<li class="pl_txt">
								<span class="pl_txt_left">총 판매금액</span>
								<span class="pl_txt_right" id="order_cost"></span>
							</li>
							<!-- <li class="pl_txt">
								<span class="pl_txt_left">총 할인금액</span>
								<span class="pl_txt_right" id="order_discount_cost"></span>
							</li>
							<li class="pl_txt">
								<span class="pl_txt_left">배송비</span>
								<span class="pl_txt_right" id="order_delivery_cost"></span>
							</li> -->
							<li class="pl_txt">
								<span class="pl_txt_left">쇼퍼비</span>
								<span class="pl_txt_right" id="order_shopper_cost"></span>
							</li>
							<li class="pl_price">
								총결제예상금액
								<span id="order_total_cost"></span>
							</li>
						</ul>
					</div>
					<div class="sbr_btn">
						<ul>
							<li class="btn_red" id="order_cart_submit">주문하기</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- sb_right 끝 -->
		</div>
		<!--content END-->

		<div id="bottom">
			<ul>
				<li class="b_menu"><img src="../images/bottom_menu_black.png" /></li>
				<li class="b_home"><img src="../images/bottom_home_black.png" /></li>
			</ul>
		</div>
	</div>

	<!-- Common Function -->
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/commons/EventBus.js"></script>
	<script type="text/javascript" src="../js/commons/Timer.js"></script>
	<script type="text/javascript" src="../js/commons/Utils.js"></script>

	<!-- Define Enumeration Classes-->
	<script type="text/javascript" src="../js/commons/enums/ViewMode.js"></script>
	<script type="text/javascript" src="../js/commons/enums/VideoType.js"></script>

	<!-- UI Component Classes -->

	<!-- Category Classes-->
	<script type="text/javascript" src="../js/app/order/Order.js"></script>
	<script type="text/javascript" src="../js/app/order/STBService.js"></script>
	<script type="text/javascript" src="../js/app/order/KeyEventActorProvider.js"></script>

	<!-- extends Library -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<!-- ############################ 장바구니 목록 끝 ############################ -->

	<!-- socket.io 이벤트 -->
	<script type="text/javascript">
		/**
		 * 상태 체크
		 **/
		$(document).ready(function() {

			var socket = io.connect("http://14.52.244.91:8080");


			socket.on('start_shopping', function(buyer_id, shopper_id, order_id, status) {
				// TT141002133 STB의 buyer_id : aa
				//if(buyer_id == buyerID) {
				if(buyer_id == "aa") {

					SHOPPER_STATUS = status;

					if(status == 2) {
						// 쇼퍼 구매 시작
						//$('#common_shopper_message').html("쇼퍼가 쇼핑을 시작하였습니다.");
						//$('#common_shopper_status').html("쇼퍼가 쇼핑중");
						//$('#common_shopper_img').attr("src", "../images/icon_shopper2.png").css("margin-top", "-5px");
						viewShopperMsg();

					} 
					if(status == 3) {
						// 쇼퍼 구매 완료
						//$('#common_shopper_message').html("현재 리얼타임 방송이 없습니다.");
						//$('#common_shopper_status').html("당일배송");
						//$('#common_shopper_img').attr("src", "../images/s_icon_car.png").css("margin-top", "-3px");
						viewShopperMsg();
					}
					
				}
				
			});
		});

		// 쇼퍼 메시지 출력 후 5초 후 사라짐
		var viewShopperMsg = function() {
			$('#wrap_shopper_status').show();
			setTimeout($('#wrap_shopper_status').hide(), 5000);
		}

	</script>
	
	<!-- <div id="wrap_shopper_status" class="bg_alpha" style="display : none; position : absolute; top : 0;"> -->
		<div id="wrap_shopper_status" class="pop2" style="width:500px; top:80%; left:32%; position:absolute; display:none;">
			<ul><li id="common_shopper_message"></li></ul>
		</div>
	<!-- </div> -->

	
	<div id="popup_cart" class="popup_cart" style="display: none;"></div>

</body>

</html>