<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link href="../css/global.css" rel="stylesheet" type="text/css" />
    <title>GiGA마트</title>
</head>

<body>
	<div id="wrap" class="bg_gray">



						<div id="brand_gray">
							<h1><img src="../images/logo_gigamart.png" /></h1>
							<h2>상품정보</h2>
							<h3>
								<span><img src="../images/s_bg_left.png" /></span><span class="sbg">당일배송 <img src="../images/s_icon_car.png" /></span><span><img src="../images/s_bg_right.png" /></span>
							</h3>
						</div>



						<div id="content" >
							<div class="con_wrap">
								<p class="arrow_top"></p>
								<div class="cw_left">
									<ul>
										<li class="cl_product">
											<span class="cp_txt">같은종류 추천상품</span>
											<div class="product_list">
												<ul>	
													<li class="pl_menu">
														<span class="polygon_l">200원 <img src="../images/icon_shift.png" /></span>
														<span class="pm_bdr"><img src="../images/btn_ok_fill2.png"/></span>
														<ul>
															<li class="plm_img"><img src="../images/sample_03.jpg" /></li>
															<li class="plm_tit">달달한 사과</li>
															<li class="plm_price">24,900원</li>
														</ul>
													</li>
													<li class="pl_menu">
														<span class="polygon_l">200원 <img src="../images/icon_shift.png" /></span>
														<span class="pm_bdr"></span>
														<ul>
															<li class="plm_img"><img src="../images/sample_01.jpg" /></li>
															<li class="plm_tit">달달한 사과</li>
															<li class="plm_price">24,900원</li>
														</ul>
													</li>
													<li class="pl_menu">
														<span class="polygon_l">35% <img src="../images/icon_shift.png" /></span>
														<span class="pm_bdr"></span>
														<ul>
															<li class="plm_img"><img src="../images/sample_01.jpg" /></li>
															<li class="plm_tit">달달한 사과</li>
															<li class="plm_price">24,900원</li>
														</ul>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
								<div class="cw_right">
									<ul>
										<li class="cr_product">
											<span class="cp_txt">다른 사람이 구매한 연관상품</span>
											<div class="product_list">
												<ul>	
													<li class="pl_menu">
														<span class="polygon_l">200원 <img src="../images/icon_shift.png" /></span>
														<span class="pm_bdr"><img src="../images/btn_ok_fill2.png"/></span>
														<ul>
															<li class="plm_img"><img src="../images/sample_03.jpg" /></li>
															<li class="plm_tit">달달한 사과</li>
															<li class="plm_price">24,900원</li>
														</ul>
													</li>
													<li class="pl_menu">
														<span class="polygon_l">200원 <img src="../images/icon_shift.png" /></span>
														<span class="pm_bdr"></span>
														<ul>
															<li class="plm_img"><img src="../images/sample_01.jpg" /></li>
															<li class="plm_tit">달달한 사과</li>
															<li class="plm_price">24,900원</li>
														</ul>
													</li>
													<li class="pl_menu">
														<span class="polygon_l">35% <img src="../images/icon_shift.png" /></span>
														<span class="pm_bdr"></span>
														<ul>
															<li class="plm_img"><img src="../images/sample_01.jpg" /></li>
															<li class="plm_tit">달달한 사과</li>
															<li class="plm_price">24,900원</li>
														</ul>
													</li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
								<div class="rel_project">
									<span class="cp_txt">관련 기획전</span>
									<ul>
										<li><img src="../images/sample_04.jpg" /></li>
										<li><img src="../images/sample_05.jpg" /></li>
										<li><img src="../images/sample_06.jpg" /></li>
										<li><img src="../images/sample_07.jpg" /></li>
									</ul>
								</div>
							</div>
						</div>
						<!--content END-->


						<div id="common">
							<ul>
								<li class="cm_cart">
									<img src="../images/bottom_cart_black.png" />
									<img src="../images/bottom_cart_icon_black.png" />
									<span class="cmc">										
										<b>
											<span><img src="../images/bottom_cart_bg_left.png" /></span><span class="cmc_num">19</span><span><img src="../images/bottom_cart_bg_right.png" /></span>
											<span class="cmc_price_black">74,800원</span>
										</b>
									</span>									
								</li>
								<li class="pd_r20"><img src="../images/bottom_home_black.png" /></li>
								<li><img src="../images/bottom_menu_black.png" /></li>
							</ul>
						</div>


	<!-- 팝업 영역 -->
	<div id="popup_fv" class="popup_fv" style="display: none;"></div>
	<div id="popup_cart" class="popup_cart" style="display: none;"></div>


	<!-- Common Function -->
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/commons/EventBus.js"></script>
	<script type="text/javascript" src="../js/commons/Timer.js"></script>
	<script type="text/javascript" src="../js/commons/Utils.js"></script>

	<!-- Define Enumeration Classes-->
	<script type="text/javascript" src="../js/commons/enums/ViewMode.js"></script>
	<script type="text/javascript" src="../js/commons/enums/VideoType.js"></script>

	<!-- UI Component Classes -->

	<!-- Category Classes-->
	<script type="text/javascript" src="../js/app/product/Product.js"></script>
	<script type="text/javascript" src="../js/app/product/STBService.js"></script>
	<script type="text/javascript" src="../js/app/product/KeyEventActorProvider.js"></script>

	<!-- extends Library -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>						
	</div>
</body>

</html>