<div id="wrap">
	<div id="shopper_real_time" class="shopper_real_time">
		<p id="rtsp_area" class="vod_area"><img src="../images/sample_01.jpg"  style="height : 526px;"/></p>
		<div class="srt_info">
			<p></p>
			<ul style="height : 526px;">
				<li class="srt_tit">쇼퍼 리얼타임</li>
				<li class="smt_contents">
					<ul>
						<li class="smtc_person">
							<span name="shopper_img"></span>
							<ul>
								<li name="shopper_name"></li>
								<li name="shopper_rating"></li>
								<li>하나로마트 양재점에서 직접 골라 드립니다.</li>
							</ul>
						</li>
						<li name="description" class="smtc_txt">
						</li>
						<li id="rt_close" class="btn_close focus">닫기</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>